#welcome{
    color:rgb(201, 80, 102);
    text-align: center;
    font-size: 30px;
    background-size: cover;
    background-image:url("../images/59bbbb770b11c.jpeg") ;
    height:550px;
    padding-top: 0;
}