
<div id="welcome">
    <h1>WELCOME TO GITHUB SEARCH</h1>
    <div style="margin: 20px">
        <div class="card">
            <div class="card-body">
                <form class="form-inline">
                    <input type="text" class="form-control mr-10" placeholder="Search" name="searchUser" [(ngModel)]="searchUser">
                    <button type="submit" class="btn btn-dark" (click)="search()">Search</button>
                </form>
            </div> constructor(public name:string){

            }
        </div>
    </div>
</div>
