<div id="welcome">
    <h1>WELCOME TO GITHUB SEARCH</h1>
    <div style="margin: 20px">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control bg-transparent" placeholder="Search here" aria-label="user" aria-describedby="basic-addon2" name="name" [(ngModel)]="name">
                    <button type="submit" class="btn btn-dark" (click)="findUser(name)" >Search</button>
               </div>
          </div>
    </div>
    <div>
            <img src="{{user.avatar_url}}" class="rounded-circle" >
            <h1>Name:{{user.name}}</h1>
            <h2>Location:{{user.location}}</h2>
            <h3>Followers:{{user.followers}}</h3>
            <h4>Following:{{user.following}}</h4>
            <h5>Repos:{{user.public_repos}}</h5>
            
       </div>
       
       <div class="card-columns">
           <div *ngFor="let rp of repo">
               <div class="card">
                   <h1>{{rp.name}}</h1>
                   <h2>{{rp.full_name}}</h2>
                   <h3>{{rp.description}}</h3>
               </div>
           </div>
       </div>

</div>
