<div id="welcome">
    <h1>WELCOME TO GITHUB SEARCH</h1>
    <div style="margin: 20px">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control bg-transparent" placeholder="Search here" aria-label="user" aria-describedby="basic-addon2" name="name" [(ngModel)]="name">
                    <button type="submit" class="btn btn-dark" (click)="findUser(name)" >Search</button>
               </div>
          </div>
    </div>
    <div>
        <div class="card-columns">
            <img src="{{user.avatar_url}}" class="rounded-circle" >
            <h1>Name:{{user.name}}</h1>
            <h1>Location:{{user.location}}</h1>
            <h1>Followers:{{user.followers}}</h1>
            <h1>Following:{{user.following}}</h1>
            <h1>Repos:{{user.public_repos}}</h1>
            </div>
            
       </div>
       <div id="pesh">
       
       <div class="card-columns" id="lavy">
           <div *ngFor="let rp of repo">
               <div class="card">
                   <h1><strong>{{rp.name}}</strong></h1>
                   <h2>{{rp.full_name}}</h2>
                   <h3>{{rp.description}}</h3>
               </div>
           </div>
       </div>
       </div>

</div>
