#welcome{
    color:rgb(201, 80, 102);
    text-align: center;
    font-size: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("../../images/59bbbb770b11c.jpeg") ;
    height:579px;
}
#form{
    color:rgb(190, 190, 214);

}
#lipesh{
    background-color:transparent;
    color: black;
    font-size: medium;
}